<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-formula">{{rolls.[0]._formula}}</div>
    {{#each rolls}}
    <div class="dice-result">
        {{{this.tooltip}}}
        <h4 class="dice-total{{this.crit}}">{{this.total}}</h4>
    </div>
    {{/each}}
</div>
{{#if hasDamage}}
<div class="dnd5e chat-card">
    <div class="card-buttons multiattack-5e-damage-button">
        <button data-action="multiattack-5e-damage">
            {{localize "DND5E.Damage" }}
        </button>
    </div>
</div>
{{/if}}