<style>
        #multiattack-tool-dialog .dialog-buttons {
                flex-direction: column;
        }
</style>
<div class="flexcol">
        {{#each weapons}}
        <div class="MA5e-multi-item">
                <label for="{{this.id}}"><img class="imgMA5e" src="{{this.img}}"></label>
                <label for="{{this.id}}" class="labelMA5e">{{this.data.name}}</label>
                <input type="text" class="inputMA5e" id="{{this.id}}input" placeholder="1"
                        {{#if this.data.flags.multiattack-5e.check}}value="{{this.data.flags.multiattack-5e.count}}"
                        {{/if}}>
                <input type="checkbox" class="dialog-checkbox" name="weapons" id="{{this.id}}" value="{{this.id}}"
                        {{#if this.data.flags.multiattack-5e.check}}checked{{/if}}>
        </div>
        {{/each}}
        <br>
        <div class="MA5e-multi-item-flex">
                <button class="buttonMA5e" id="setDefaultButton">Set Default</button>
                <button class="buttonMA5e" id="clearDefaultButton">Clear Default</button>
        </div>
        <br>
</div>

<script src="/modules/multiattack-5e/scripts/toolDefault.js"></script>