<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-formula">{{rolls.[0]._formula}}</div>
    {{#each rolls}}
    <div class="dice-result">
        {{{this.tooltip}}}
        <h4 class="dice-total">{{this.total}}</h4>
    </div>
    {{/each}}
    <div class="dice-result">
        <div class="dice-tooltip">
            <br>    
        </div>
        <h4 class="dice-total totalMA5e">Total: {{totalDamage}}</h4>
    </div>
</div>