<div class="form-group">
    <label>{{ localize "DND5E.AttackPl" }}</label>
    <select class="selectMA5e" id="numRolls">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
</div>