<header class="message-header flexrow">
    <h4 class="message-sender">Adult Black Dragon</h4>
    <span class="flavor-text">Bite - Attack Roll</span>
</header>
<div class="message-content">
    <div class="dice-roll">
        <div class="dice-result">
            <div class="dice-formula">1d20 + 6 + 5</div>
            <div class="dice-tooltip">
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">1d20</span>

                            <span class="part-total">3</span>
                        </header>
                        <ol class="dice-rolls">
                            <li class="roll die d20">3</li>
                        </ol>
                    </div>
                </section>
                <h4 class="dice-total">14</h4>
            </div>
        </div>
    </div>
</div>




<header class="message-header flexrow">
    <span class="flavor-text">Claw - Attack Roll</span>
</header>
<div class="message-content">
    <div class="dice-roll">
        <div class="dice-result">
            <div class="dice-formula">1d20 + 6 + 5</div>
            <div class="dice-tooltip">
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">1d20</span>

                            <span class="part-total">18</span>
                        </header>
                        <ol class="dice-rolls">
                            <li class="roll die d20">18</li>
                        </ol>
                    </div>
                </section>
            </div>
            <h4 class="dice-total">29</h4>
        </div>
    </div>

</div>