.form-group > label.checkboxMA5e {
    font-size: 12px;
    flex: 0;
}

.form-group > select.selectMA5e {
    flex: 2;
    padding: 0px 10px 0px 3px;
}

.dice-result > .totalMA5e {
    color: rgb(44, 42, 168);
}

.MA5e-multi-item > input[type=text].inputMA5e {
    flex: 1;
}

.MA5e-multi-item > input[type=checkbox].dialog-checkbox {
    flex: 1;
}

.MA5e-multi-item > img {
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 0px;
}