.form-group > label.checkboxMA5e {
    font-size: 12px;
    flex: 0;
}

.form-group > select.selectMA5e {
    flex: 2;
    padding: 0px 10px 0px 3px;
}

.dice-result > .totalMA5e {
    color: rgba(49, 47, 195, 1);
}