.multiattack-5e-dice-total {
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;

    flex: 0;
    font-size: var(--font-size-20);
    font-weight: bold;
}

.multiattack-5e-dice-total.critical {
    color: green;
}

.multiattack-5e-dice-total.fumble {
    color: red;
}

.dice-result > .multiattack-5e-total {
    color: rgb(44, 42, 168);
}

.multiattack-5e-item {
    display: grid;
    grid-template-columns: 30px 105px 60px 20px;
    column-gap: 5px;
}

.multiattack-5e-item > label > img.multiattack-5e-img {
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 0px;
    border: none;

    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
}

.multiattack-5e-item > label.multiattack-5e-label {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.multiattack-5e-item > input.multiattack-5e-input {
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
}

.multiattack-5e-item > input.multiattack-5e-checkbox {
    grid-column-start: 4;
    grid-column-end: 5;
    align-self: center;
}

.multiattack-5e-tool-flex {
    display: flex;
    align-items: center;
} 

.multiattack-5e-tool-flex .multiattack-5e-button {
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove #f0f0e0;
}

#multiattack-tool-dialog .dialog-buttons {
    flex-direction: column;
}